<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- css -->
    <link rel="stylesheet" href="/style.css">

    <!-- javascript -->
    <script src="/script.js" defer></script>

    <title>Recipes Website</title>
</head>
<body>
    <main>
        <form class="recipe-form" method="POST" action="<%= method === 'create' ? '/recipe/create/submit' : '/recipe/update/submit'%>">
            <h1>New Recipe</h1>
            <p>Let's add a new recipe. Thank you for taking part to make this community grow bigger.</p>

            <div>
                <label class="title" for="recipeTitle">Recipe Title</label>
                <input id="recipeTitle" type="text" name="recipeTitle" placeholder="Enter Recipe Title" value="<%= recipe.recipeTitle %>" required>
            </div>

            <div>
                <label class="title" for="recipeChef">Chef's Name</label>
                <input id="recipeChef" type="text" name="chefName" placeholder="Enter Chef's Name" value="<%= recipe.chefName %>" required>
            </div>

            <div class="ingredient">
                <h2>Ingredients</h2>
                <% let count = 0; %>
                <div id="ingredients-wrapper">
                    <% recipe.ingredients.forEach(ingredient => { %>
                    <div class="ingredient__row">
                        
                        <div class="ingredient__column">
                            <% if (count === 0) { %>
                                <label for="ingredientName_0" class="ingredient__Name">Name</label>
                            <% } %> 
                            <input id="ingredientName_0" class="ingredient__Name" name="ingredientName" type="text" value="<%= ingredient['name'] %>" placeholder="Enter Ingredient Name" required>
                        </div>

                        <div class="ingredient__column">
                            <% if (count === 0) { %>
                                <label for="ingredientAmount_0" class="ingredient__Amount">Amount</label>
                            <% } %>
                            <input id="ingredientAmount_0" class="ingredient__Amount" name="ingredientAmount" type="number" value="<%= ingredient['amount'] %>" placeholder="Enter Amount" required>
                        </div>
        
                        <div class="ingredient__column">
                            <% if (count === 0) { %>
                                <label for="ingredientUnit_0" class="ingredient__Unit">Unit</label>
                            <% } %>
                            <select id="ingredientUnit_0" class="ingredient__Unit" name="ingredientUnit" value required>
                                <option value="" disabled selected>Select a unit</option>

                                <optgroup label="Volume">
                                    <option value="ml" <%= ingredient['unit'] === 'ml' ? 'selected' : '' %>>Milliliter (ml)</option>
                                    <option value="l" <%= ingredient['unit'] === 'l' ? 'selected' : '' %>>Liter (l)</option>
                                    <option value="tsp" <%= ingredient['unit'] === 'tsp' ? 'selected' : '' %>>Teaspoon (tsp)</option>
                                    <option value="tbsp" <%= ingredient['unit'] === 'tbsp' ? 'selected' : '' %>>Tablespoon (tbsp)</option>
                                    <option value="cup" <%= ingredient['unit'] === 'cup' ? 'selected' : '' %>>Cup</option>
                                </optgroup>
                                
                                <optgroup label="Weight">
                                    <option value="g" <%= ingredient['unit'] === 'g' ? 'selected' : '' %>>Gram (g)</option>
                                    <option value="kg" <%= ingredient['unit'] === 'kg' ? 'selected' : '' %>>Kilogram (kg)</option>
                                    <option value="oz" <%= ingredient['unit'] === 'oz' ? 'selected' : '' %>>Ounce (oz)</option>
                                    <option value="lb" <%= ingredient['unit'] === 'lb' ? 'selected' : '' %>>Pound (lb)</option>
                                </optgroup>
                                
                                <optgroup label="Quantities">
                                    <option value="whole" <%= ingredient['unit'] === 'whole' ? 'selected' : '' %>>Whole / Piece</option>
                                    <option value="clove" <%= ingredient['unit'] === 'clove' ? 'selected' : '' %>>Clove</option>
                                    <option value="pinch" <%= ingredient['unit'] === 'pinch' ? 'selected' : '' %>>Pinch</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <% count++; %> 
                    <% }); %> 
                </div>
                
                <div class="button-container">
                    <button class="btn btn-ghost" id="add-ingredient-btn" type="button">+ Add Ingredient</button>
                    <button class="btn btn-remove" id="ingredient-remove-btn" type="button">Remove Row</button>
                </div>
            </div>

            <div class="steps">
                <h2>Steps</h2>
                
                <div id="steps-container">
                    <% recipe.steps.forEach(step => { %>
                        <input id="step_0" type="textarea" name="step" value="<%= step %>"  placeholder="Enter Step" required>
                    <% }) %> 
                </div>
                
                <div>
                    <button class="btn btn-ghost" id="add-step-btn" type="button">+ Add Next Step</button>
                    <button class="btn btn-remove" id="step-remove-btn" type="button">Remove Row</button>
                </div>
            </div>

            <div class="equipment">
                <h2>Equipment Needed</h2>
                <div id="equipment-container">
                    <% recipe.equipments.forEach(eq => { %>
                        <input id="equipment_0" type="text" name="equipment" value="<%= eq %>" placeholder="Enter Equipment Needed" required>
                    <% }); %>
                </div>
                
                <div>
                    <button class="btn btn-ghost" id="add-equipment-btn" type="button">+ Add Equipment</button>
                    <button class="btn btn-remove" id="equipment-remove-btn" type="button">Remove Row</button>
                </div>
            </div>
            <% if (method === "update") { %>
                <input type="hidden" name="id" value="<%= id %>">
            <% }; %>
            <button id="recipe-submit-btn" class="btn btn-submit" type="submit">Submit Recipe</button>
        </form>
    </main>
</body>
</html>